.pagelayout{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 60px 1fr 60px;
    width: 100%;
    /*height: 100vh;   this is fixed height dont do*/
    min-height: 100vh;
    gap: 10px;
    background-color: white;


    /*important to have space both sides */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    background-color: whitesmoke;
    grid-column:1;
    border-radius: 10px;
    box-shadow: 2px 2px 6px lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.left{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-links a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.main{

    background-color: whitesmoke;
    background-image: url("images/Gradientbackground.png");
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 6px darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;


    /*adds space left right and top bottom*/
    padding: 80px 20px;


}
.main-content{
    /*to control text stretch*/
    max-width: 600px;
    margin: 0 auto;
}
.main h2{
    line-height: 1.2;
    font-size: 48px;
}
.main p{
    color: whitesmoke;
}
.main-button{
    /*margin-top: 100px;*/
    /*margin-right: 100px;
    dont use , a lot it will mess up space*/
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
}
.main-button button{
    margin:10px;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border:none;
    background-color: black;
    color: antiquewhite;
    box-shadow: 1px 1px 6px mediumpurple;

}
.main-button button:hover{
    box-shadow: 2px 2px 6px grey;
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.right button{
    margin:10px;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border:none;
    background-color: mediumslateblue;
    color: snow;
    box-shadow: 1px 1px 6px mediumpurple;

}

.right button:hover{
    box-shadow: 2px 2px 6px grey;
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.2s;
}
.footer{

    background-color: white;
    grid-column:1;
    box-shadow: 2px 2px 6px mediumpurple;


}
.footer p{
text-align: center;
}

/*@media screen and (max-width: 800px){*/
/*    .header{*/

/*    }*/
/*}*/
/*@media screen and (max-width: 600px){*/
/*    .header{*/

/*    }*/
/*}*/